ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_TEXT_MODEL=doubao-seed-2-0-lite-260215
ARK_TEXT_TEMPERATURE=0.3
SEEDREAM_MODEL=doubao-seedream-4-5-251128
SEEDREAM_SIZE=2K
SEEDREAM_RESPONSE_FORMAT=b64_json
SEEDREAM_STREAM=false
SEEDREAM_WATERMARK=false
FEISHU_BASE_URL=https://open.feishu.cn
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_IMAGE_TASK_APP_TOKEN=
FEISHU_IMAGE_TASK_TABLE_ID=
FEISHU_IMAGE_TASK_VIEW_ID=

# Web Image Factory API keys
VOLCANO_ENGINE_API_KEY=$ARK_API_KEY
# NANO_BANANA_API_KEY=
# OPENAI_API_KEY=
# FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/xxx
